@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    font-family: 'Opes Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 1920px;
    margin: 0 auto
}


/* .header-container {
    position: relative;
    display: flex;
    flex-direction: column;
} */

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 30px 160px;
    align-items: center;
    font-size: 18px;
    font-family: sans-serif;
    background-color: #000;
}

.nav::before, .nav::after {
    display: none;
    position: absolute;
    content: '';
    background-color: #fff;
  } 
  
  .nav::before {
    width: 20px;
    height: 2px;
    top: -0.6em;
  }
  
  .nav::after {
    width: 12px;
    height: 2px;
    top: 0.6em;
  }

.nav__top-list {
    display: flex;
}

.nav__top-item {
    margin-right: 62px;
}

.logo-desktop img {
    width: 173px;
    height: 40px;
}

.nav__top-login {
    padding-left: 1.3em;
    background-image: url('../img/1920/vector.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.search__btn {
    display: none;
    width: 29px;
    height: 29px;
    margin-top: 0.8em;
    background-color: transparent;
    border: none;
    background-image: url('../img/1920/loop.svg');
    background-repeat: no-repeat;
}

.header-bottom {
    /* position: absolute; */
    top: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 160px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    color: #fff;
    opacity: 0.7;
}

.nav__bottom-list {
    display: flex;
    /* justify-content: space-between; */
    padding: 0;
}

.nav__bottom-item {
    padding-right: 1em;
    margin-right: 111px;
    background-image: url('../img/1920/down-white.svg');
    background-repeat: no-repeat;
    background-position: right 65%;
}

.input {
    position: relative;
    padding: 1em 0;
    padding-left: 2em;
    background-color: transparent;
    border: none;
    background-image: url('../img/1920/loop.svg');
    background-repeat: no-repeat;
    background-position: left center;
}


.header__bottom-form {
    position: relative;
    margin-right: 4em;
}

.header__bottom-form::after {
    position: absolute;
    content: '';
    width: 218px;
    background-color: #fff;
    height: 1px;
    left: 27px;
    top: 32px;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
}

.top-container, .bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


/* hero */

.hero {
    height: 800px;
    margin-top: -7.3em;
    padding-top: 13em;
    background-image: url('../img/1920/header-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #aaa625; */
}

.hero-wrapper {
    width: 700px;
    font-weight: 700;
    color: #fff;
    padding: 63px 0 122px 155px;
}

.hero__title {
    margin: 0;
    font-size: 72px;
    line-height: 82.8px;
}

.hero__desc {
    font-size: 18px;
    line-height: 30px;
}

.hero__link {
    display: block;
    width: 314px;
    margin-top: 92px;
    padding: 22.5px 35px;
    background-color: #9D5CD0;
    border-radius: 100px;
}

@media screen and (max-width: 1919px) {
    .nav {
        position: relative;
        width: 15px;
        height: 2px;
        top: 0.1em;
        background-color: #fff;
        order: -1;
    }
    .nav::before, .nav::after {
        display: flex
    }
    .nav__top-list {
        display: none;
    }
    .nav__top-login {
        display: none;
    }
    .search__btn {
        display: flex;
    }
    .header-bottom {
        display: none;
    }
    .header-top {
        padding: 30px 50px;
    }
    .hero {
        margin-top: 0;
        background-image: url('../img/1024/header-1.jpg');
    }
    .hero-wrapper {
        padding-left: 50px;
    }
    .hero__title {
        width: 575px;
    }
    .container {
        max-width: 1920px;
    }
}

@media screen and (max-width: 320px) {
    .header-top {
        padding: 30px 15px 
    }
    .hero {
        padding-top: 10px;
        background-image: url('../img/320/hero-1.jpg');
        background-size: contain;
    }
    .hero-wrapper {
        max-width: 320px;
        padding-left: 30px;
    }
    .hero__title {
        width: 258px;
        font-size: 32px;
        text-align: center;
        line-height: 43.6px;
    }
    .hero__desc {
        width: 265px;
        margin-bottom: 40px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.34px;
        text-align: center;
    }
    .hero__link {
        display: inline;
        padding: 11px 19px;
        margin-left: 2.8em;
        width: 165px;
        height: 15px;
        font-size: 12px;
        margin-top: 30px;
        text-align: center;
    }
    .container {
        width: 320px;
    }
}